/* General Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'SF Pro Display', system-ui, sans-serif;
    background: linear-gradient(320deg, #4b0082, #6a5acd);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: auto;
    animation: fadeIn 1.3s ease forwards;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.body {
    background: #4b0082;
}

body, input, button, a {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

/* Styled Horizontal Rule */
hr {
    width: 100%;
    border-top: none;
    border: 1px solid #4b0082;
    border-radius: 25px;
    margin: 0 auto;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    transform: scaleX(0); /* Start with scale 0 on the X-axis */
    animation: revealIn 1.5s ease forwards;
    transform-origin: center; /* Ensures the animation expands from the center */
}

/* Link styles */
a {
    display: inline-block;
    font-size: 75%;
    text-transform: uppercase;
    background: linear-gradient(-95deg, #4b0082, #6a5acd);
    color: #ffffff;
    border: none;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    padding: 0 5px;
    cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, background 0.3s ease, filter 0.3s ease; /* Hover transitions */

}

a:hover {
    background: linear-gradient(350deg, #4b0082, #6a5acd);
    text-decoration: underline;
    transform: scale(1.05);
    filter: brightness(1.1);
}

.breadcrumb {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    color: #ffffff;
}

/* Header Styles */
header {
    background: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    animation: slideDown 1s ease forwards;
}

/* Logo Styles */
.logo {
    margin: 0;
    margin-right: 15px;
    margin-left: 0;
    width: 55px;
    animation: rotateIn 1.5s ease forwards;
    filter: drop-shadow(0 1px 0 rgba(255, 255, 255, 0.1)); /* Shadow for transparent edges */
}

.header-content {
    left: 0;   /* Align to the left edge of the parent */
    right: 0;  /* Align to the right edge of the parent */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0; /* Ensure no padding */
    width: 100%; /* Full width */
    margin: 0;
    margin-bottom: 15px;
}

.name {
    font-size: 2.5rem;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0;
    animation: fadeIn 1.2s ease forwards;
}

.headinfo {
    color: #aaa;
    font-weight: 100;
    margin: 0;
}

/* Main Styles */
main {
    margin: 0 auto;
    padding: 15px 0;
    animation: slideIn 1.2s ease forwards;
}

.main {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    height: 100%;
    margin: 0;
    background: linear-gradient(320deg, #4b0082, #6a5acd);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 15px 15px;
    animation: slideUp 1.5s ease forwards;
    border-radius: 25px;
    max-width: 480px;
}

.main-centered {
  text-align: center;      /* center inner text/content */
}

.info {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #aaa;
    font-weight: normal;
    animation: fadeIn 1.3s ease forwards;
}

#warningMessage {
    font-weight: normal;
}

/* Title Styles */
h1, h3, h4, h5, h6, p {
    opacity: 0;
    animation: fadeIn 1.4s ease forwards;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.55rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
p { font-size: 1rem; }

/* Input Styles */
input {
    display: inline-block;
    background: #4b0082;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 15px 15px;
    font-size: 1rem;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

input:focus {
    outline: none;
    border-color: #00c9ff;
    box-shadow: 0 0 10px #00c9ff;
}

input:disabled {
    color: #aaa;
background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
            linear-gradient(300deg, rgba(75, 0, 130, 0.3), rgba(106, 90, 205, 0.3));
                cursor: not-allowed; /* Change cursor to indicate disabled state */
}

input::placeholder {
    color: #aaa;
}

/* Button Styles */
button {
    display: inline-block;
    background: #4b0082;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 15px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease, filter 0.3s ease;
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

button:disabled {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                linear-gradient(300deg, rgba(75, 0, 130, 0.3), rgba(106, 90, 205, 0.3));
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    transform: none; /* Prevent hover scale */
    filter: none; /* Remove brightness effect */
}

button:disabled:hover {
    transform: none;
    filter: none;
}

/* Section Styles */
#installLinkSection {
    margin-top: 30px;
    animation: slideIn 1s ease forwards;
}

/* Fullscreen Intro Section */
.intro-container {
    height: 100vh; /* Full viewport height */
    width: 100%;
    background: linear-gradient(320deg, #4b0082, #4b0082);
    position: relative;
    animation: slideDown 1s ease forwards;
    border-radius: 25px;
    padding: 0;
    margin: 0; /* Ensure no external margin */
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    overflow: hidden;
}

/* Center Wrapper */
.center-wrapper {
    position: absolute;
    top: 50%;
    left: 0;   /* Align to the left edge of the parent */
    right: 0;  /* Align to the right edge of the parent */
    transform: translateY(-50%);  /* Only vertically center */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0; /* Ensure no padding */
    margin: 0;  /* Ensure no margin */
    width: 100%; /* Full width */
}

/* Text in the Intro Section */
.intxt {
    font-size: 2.5rem;
    color: #ffffff;
    margin: 0;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center; /* Center the button horizontally */
}

/* Logo */
.logo2 {
    width: 70px;
    height: 70px;
    display: inline-block;
    animation: rotateIn 1.5s ease forwards;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    margin: 0; /* Adjusted margin */
    margin-right: 15px;
    justify-content: center; /* Center the button horizontally */
}

/* Down Arrow Button Wrapper */
.down-arrow-wrapper {
    position: absolute;
    bottom: 15px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center; /* Center the button horizontally */
}

/* Down Arrow Button */
.down-arrow-button {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    border: none;
    background: linear-gradient(320deg, #4b0082, #6a5acd);
    cursor: pointer;
    font-size: 2.5rem;
    color: #ffffff;
    transition: opacity 0.3s ease, transform 0.3s ease, background 0.3s ease, filter 0.3s ease;
    animation: float 6s ease-in-out infinite;
}

/* When hovering over the button */
.down-arrow-button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* Footer Styles */
footer {
    text-align: center;
    background: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin-top: 15px;
    font-size: 1rem;
    animation: slideUp 1.5s ease forwards;
}

.foottxt {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#instructions {
    animation: slideIn 1s ease forwards;
}
/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes revealIn {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1); /* Expand to full width */
    }
}

@keyframes rotateIn {
    from { transform: rotate(-180deg); opacity: 0; }
    to { transform: rotate(0deg); opacity: 1; }
}

@keyframes popIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}